@model Entreprise
@section title{
    @Model.Nom
}
@section Style{
    <style>
        .taille{
            max-height : 300!important;
            max-width : 300!important;

        }
    </style>
}
@section js{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    
    <script>

        var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir supprimer cette Entreprise ?!",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, supprimer !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete", "Entreprise")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>
    
}


<div class="row g-4">

    <div class="col-12">
        <h4 class="fw-bold py-3 mb-4 card-header"><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a> @Model.Nom  </h4>
        <div class="card">

            <div class="card-body">
               
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                       
                        <hr class="my-0" />
                        <br />
                        <img class="img-fluid d-flex mx-auto my-4 rounded taille" src="../../assets/img/logo/@Model.Logo" alt="@Model.Nom">
                        <br /> <br />
                        <p class="card-text">
                            <div class="mx-3 my-2">@Html.Raw(Model.Description)</div>
                            <hr class="my-0" />
                            <br />
                            @Model.Adresse <br />
                            @Model.Pays @Model.Ville
                            
                        </p>
                    <div class="d-flex align-items-center pt-1">
                        <div class="d-flex align-items-center">

                            <span class="text-muted fw-light">
                                @if (Model.Convention)
                                {
                                    <h6 class="card-subtitle text-muted">Conventionné</h6>
                                }
                                else
                                {
                                    <h6 class="card-subtitle text-muted">Non Conventionné</h6>
                                }
                            </span>
                           
                           

                        </div>
                        <div class="ms-auto">
                            @if (ViewBag.role == "AgentDirection")
                            {
                                <a asp-controller="Entreprise" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-label-success btn-icon waves-effect mx-2 ">
                                    <i class="ti ti-edit ti-sm"></i>
                                </a>
                                <button class="btn btn-danger btn-icon waves-effect   deleteButton" data-id="@Model.Id"><i class="ti ti-trash ti-sm"></i></button>



                            }
                        </div>
                    </div>
                    </div>
               
            </div>
        </div>
       
    </div>
    @if (Model.annonces.Count() != 0)
    {
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Offres</h5>
                    <ul class="list-unstyled mb-0">
                        @foreach (var annonce in Model.annonces)
                        {
                            <li class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-start">
                                        <div class="avatar me-2">
                                            <i class="ti ti-layout-grid"></i>
                                        </div>
                                        <div class="me-2 ms-1">
                                            <a asp-controller="Annonce" asp-action="Details" asp-route-id="@annonce.Id">
                                                <h6 class="mb-0">@annonce.Titre</h6>
                                            </a>

                                            <small class="text-muted">@annonce.Date_Creation.Date.ToString("MM/dd/yyyy")</small>
                                        </div>
                                    </div>
                                    @*<div class="ms-auto">
                            <a href="javascript:;"><span class="badge bg-label-danger">Developer</span></a>
                            </div>*@
                                </div>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    }
   
</div>


                    