@model List<Entreprise>
@section title {
   Entreprises
}
@section Style{
    <style>
       
    </style>
}
@section js {


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <!-- JavaScript -->
    <script>

        var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir supprimer cette Entreprise ?!",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, supprimer !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete", "Entreprise")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>
}

<div class="container-fluid my-4">
    <h3 class="fw-bold py-2 mb-2 card-header mx-2">
        <a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a>
        Entreprises
    </h3>

    @if (ViewBag.role == "AgentDirection")
    {
        <div class="container mt-5 d-flex flex-row-reverse">
            <a class="btn btn-primary" asp-controller="Entreprise" asp-action="Add">
                <i class="ti ti-plus me-1"></i>
                <span class="align-middle">Nouvelle Entreprise</span>
            </a>
            <br />
        </div>

    }
    @if (Model != null)
    {
        <div class="row g-4 mt-2">
            @foreach (Entreprise entreprise in Model)
            {
                <div class="col-xl-3 col-lg-6 col-md-6">
                   
                    <div class="card">
                        <div class="card-body ">
                            <div class="dropdown btn-pinned">
                                <button type="button"
                                class="btn dropdown-toggle hide-arrow p-0"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                    <i class="ti ti-dots-vertical text-muted"></i>
                                </button>
                                @if (ViewBag.role == "AgentDirection")
                                {
                                    <ul class="dropdown-menu dropdown-menu-end">

                                        <li><a class="dropdown-item btn btn-success btn-icon waves-effect" asp-action="Update" asp-route-id="@entreprise.Id">Modifier</a></li>
                                        <li>
                                            <button class=" dropdown-item btn btn-danger btn-icon waves-effect   deleteButton" data-id="@entreprise.Id">Supprimer</button>
                                            @* <a class="dropdown-item" href="javascript:void(0);">Valider</a></li>*@
                                           @* <li>
                                                <hr class="dropdown-divider" />
                                            </li>*@

                                       </li>
                                    </ul>
                                }
                            </div>
                            <div class="mx-auto my-3 text-center">
                                <img src="../../assets/img/logo/@entreprise.Logo"
                                     alt="Logo"
                                     class="rounded-circle" style="max-width:200px !important;max-height:200px;"  />
                               
                            </div>
                            <a asp-action="Details" asp-route-id="@entreprise.Id">
                                <h4 class="mb-1 card-title text-center">@entreprise.Nom  </h4>
                            </a>
                           
                           

                        </div>
                    </div>
                </div>
                

                
            }
        </div>
    }
    else
    {
        <div>
            <h3>Aucune entreprise pour le moment!!</h3>
        </div>
    }
</div>