@model List<Test>
@section title {
   Testes
}
@section js{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script>

        var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir supprimer Ce test  ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, supprimer !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete", "Test")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>
}
<h3 class="fw-bold py-2 mb-2 card-header ">
    <a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a>
    Testes
</h3>
@if (ViewBag.role == "AgentDirection")
{
    <div class="container mt-5 d-flex flex-row-reverse">
        <a class="btn btn-primary" asp-controller="Test" asp-action="Add">
            <i class="ti ti-plus me-1"></i>
            <span class="align-middle">Nouveau Test</span>
        </a>
    </div>

}

<div class="container-fluid my-4">
    
@if(Model != null)
{
    <!-- Tests Cards -->
    <div class="row g-4">
        @foreach (Test test in Model)
        {
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <a asp-controller="Entreprise" asp-action="Details" asp-route-id="@test.EntrepriseId" class="d-flex align-items-center">
                                <div class="avatar me-2">
                                    <img src="../../assets/img/logo/@test.entreprise.Logo"
                                         alt="Logo"
                                         class="rounded-circle" />
                                </div>
                                <div class="me-2 text-body h5 mb-0">@test.entreprise.Nom</div>
                            </a>

                        </div>
                        <div class="mb-3">
                            <ul class="">
                                <li asp-format="{0:dd/MM/yyyy}">Le @String.Format("{0:d}", test.Date_Test)</li>
                                <li asp-format="{0:HH:mm}">A @String.Format("{0:HH:mm}", test.Heure_Test)</li>
                            </ul>
                            <hr class="my-0" /> <br />
                            <a asp-controller="Test" asp-action="Details" asp-route-id="@test.Id">
                                <p class="mx-3 my-2 text-primary">Plus Details ...</p>
                            </a>
                        </div>
                        @if (ViewBag.role == "AgentDirection")
                        {
                            <div class="d-flex align-items-center pt-1">
                                <div class="d-flex align-items-center">
                                    <a asp-controller="User" asp-action="Detail_User" asp-route-id="@test.agentDirection.Login">
                                        <span class="text-muted fw-light">@test.agentDirection.Nom @test.agentDirection.Prenom</span>
                                    </a>
                                </div>
                                <div class="ms-auto">
                                    <button class="btn btn-danger btn-icon waves-effect deleteButton" data-id="@test.Id"><i class="ti ti-trash ti-sm"></i></button>

                                    <a asp-controller="Test" asp-action="Update" asp-route-id="@test.Id" class="btn btn-label-success btn-icon waves-effect ">
                                        <i class="ti ti-edit ti-sm"></i>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        }

    </div>
    <!--/ Tests Cards -->
}
else
{
    <div class="container">
        <h3>Aucun Test pour le moment!!</h3>
    </div>
}
</div>
