<base href="~/" />
<!DOCTYPE html>

<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      dir="ltr"
      data-theme="theme-semi-dark"
      data-assets-path="../../assets/"
      data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>
        @RenderSection("title", false) | E.H.E.I.O - Maroc -Ecole des Hautes Etudes d'Ingénierie Oujda
</title>
  
    <link rel="icon" type="image/x-icon" href="~/assets/img/logo/ehei.png" />

    <meta name="description" content="" />
    <link href="~/sweetalert/sweetalert.min.css" rel="stylesheet" />

    <link href="~/froala/froala_editor.pkgd.min.css" rel="stylesheet" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/tabler-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-semi-dark.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/typeahead-js/typeahead.css" />

    <link href="~/assets/vendor/libs/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/pages/cards-advance.css" />
    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../assets/js/config.js"></script>

    @RenderSection("Style", false)
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <img src="~/assets/img/logo/logo_blanc_ehei.png" width="auto" height="28rem" />
                       @* <span class="app-brand-logo demo">
                            <img src="../../assets/img/logo/eheio.png"  class="img-fluid img-thumbnail" />
                        </span>*@
                        <span class="app-brand-text demo menu-text fw-bold " style="margin-left: 35px !important">EHEIO</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                        <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- text header -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Bienvenue</span>
                    </li>
                    <li class="menu-item active open mt-3">
                        <a href="" class="menu-link ">
                            <i class="menu-icon tf-icons ti ti-smart-home"></i>
                            <div data-i18n="Home">Accueil</div>
                        </a>
                    </li>
                    <li class="menu-item mt-3">
                        <a href="" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-messages"></i>
                            <div data-i18n="Chat">Chat</div>
                            <div class="badge bg-label-primary rounded-pill ms-auto">3</div>
                        </a>
                    </li>
                   @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "Etudiant" || (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "Laureat"))
                    {
                       

                        <li class="menu-item mt-3">
                            <a asp-controller="Annonce"  asp-action="MesPostulation" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-checkbox"></i>
                                <div data-i18n="Form Validation">Mes Postulations</div>
                            </a>
                        </li>
                    }
                    
                   @* @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "Etudiant" || (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "Laureat"))
                    {
                       

                        <li class="menu-item mt-3">
                            <a asp-controller="Stage"  asp-action="Add" class="menu-link">
                                <i class="menu-icon tf-icons ti ti-checkbox"></i>
                                <div data-i18n="Form Validation">Mes Stages</div>
                            </a>
                        </li>

                        <li class="menu-item mt-3">
                            <a asp-controller="Projet" asp-action="Add" class="menu-link ">
                                <i class=" menu-icon tf-icons ti ti-layout-grid ti-xs me-1"></i>
                                <div data-i18n="Mes Projets">Mes Projets</div>
                            </a>

                        </li>
                        <li class="menu-item mt-3">
                            <a asp-controller="Certificat" asp-action="Add" class="menu-link ">
                                <i class="menu-icon tf-icons ti ti-color-swatch"></i>
                                <div data-i18n="Mes Certificats">Mes Certificats</div>
                            </a>

                        </li>
                        <li class="menu-item mt-3">
                            <a asp-controller="Experience_professionnelle" asp-action="Add" class="menu-link ">
                                <i class="menu-icon tf-icons ti ti-briefcase "></i>
                                <div data-i18n="Mes Expériences professionnelles"> Mes Expériences professionnelles</div>
                            </a>

                        </li>
                       
                        
                        
                    }*@
                    @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "AgentDirection")
                    {
                        <li class="menu-item mt-3">
                            <a asp-controller="User" asp-action="Validation" class="menu-link ">
                                <i class="menu-icon tf-icons ti ti-users"></i>
                                <div data-i18n="Users">Utilisateurs</div>
                            </a>

                        </li>
                        <li class="menu-item mt-3">
                            <a href="" class="menu-link ">
                                <i class="menu-icon tf-icons ti ti-chart-pie"></i>
                                <div data-i18n="Statistics">Statistics</div>
                            </a>

                        </li>
                        <li class="menu-item mt-3">
                            <a asp-controller="Test" asp-action="Index" class="menu-link ">
                                <i class="menu-icon tf-icons ti-xs ti ti-file-description me-1"></i>
                                <div data-i18n="Statistics">Tests</div>
                            </a>

                        </li>
                        <li class="menu-item mt-3">
                            <a asp-controller="Entreprise" asp-action="Index" class="menu-link ">
                                <i class=" menu-icon tf-icons ti ti-layout-grid ti-xs me-1"></i>
                                <div data-i18n="Mes Projets">Entreprises</div>
                            </a>

                        </li>
                       
                       

                    }
                    @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "AgentDirection" || (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "Laureat"))
                    {
                        <li class="menu-item mt-3">
                            <a asp-controller="Annonce" asp-action="MesAnnonces" class="menu-link ">
                                <i class="menu-icon tf-icons ti ti-file "></i>
                                <div data-i18n="Mes Annonces"> Mes Annonces</div>
                            </a>

                        </li>
                        
                    }
                    <li class="menu-item mt-3">
                        <a asp-controller="User" asp-action="Update_Compte" class="menu-link ">
                            <i class="menu-icon tf-icons ti ti-settings"></i>
                            <div data-i18n="Settings">Settings</div>
                        </a>

                    </li>
              </ul>

                    <!-- Home -->
                   
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="ti ti-menu-2 ti-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        @*<div class="navbar-nav align-items-center">
                            <div class="nav-item navbar-search-wrapper mb-0">
                                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                                    <i class="ti ti-search ti-md me-2"></i>
                                    <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
                                </a>
                            </div>
                        </div>*@
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">


                            <!-- Style Switcher -->
                            <li class="nav-item me-2 me-xl-0">
                                <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                                    <i class="ti ti-md"></i>
                                </a>
                            </li>
                            <!--/ Style Switcher -->
                            <!-- Notification -->
                           @* <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                                <a class="nav-link dropdown-toggle hide-arrow"
                                   href="javascript:void(0);"
                                   data-bs-toggle="dropdown"
                                   data-bs-auto-close="outside"
                                   aria-expanded="false">
                                    <i class="ti ti-bell ti-md"></i>

                                    <!-- number of notifications -->
                                    <span class="badge bg-danger rounded-pill badge-notifications">2</span>
    
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end py-0">
                                    <li class="dropdown-menu-header border-bottom">
                                        <div class="dropdown-header d-flex align-items-center py-3">
                                            <h5 class="text-body mb-0 me-auto">Notification</h5>
                                            <a href="javascript:void(0)"
                                               class="dropdown-notifications-all text-body"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="top"
                                               title="Mark all as read">
                                                <i class="ti ti-mail-opened fs-4"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="dropdown-notifications-list scrollable-container">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar">
                                                            <img src="../../assets/img/avatars/2.png" alt="Profil" class="h-auto rounded-circle" />
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 class="mb-1">title</h6>
                                                        <p class="mb-0">texte</p>
                                                        <small class="text-muted">1h ago</small>
                                                    </div>
                                                    <div class="flex-shrink-0 dropdown-notifications-actions">
                                                        <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                            <span class="badge badge-dot"></span>
                                                        </a>
                                                        <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                            <span class="ti ti-x"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="dropdown-menu-footer border-top">
                                        <a href="javascript:void(0);"
                                           class="dropdown-item d-flex justify-content-center text-primary p-2 h-px-40 mb-1 align-items-center">
                                            View all notifications
                                        </a>
                                    </li>
                                </ul>
                            </li>*@
                            <!--/ Notification -->
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="~/assets/img/avatars/@Context.Response.HttpContext.Session.GetString("photo")" class="h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="pages-account-settings-account.html">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="~/assets/img/avatars/@Context.Response.HttpContext.Session.GetString("photo")" alt="Profil" class="h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block"></span>
                                                    <small class="text-muted">  @Html.Raw(Context.Response.HttpContext.Session.GetString("Role"))</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="User" asp-action="Details" asp-route-id="@Context.Response.HttpContext.Session.GetString("Login")">
                                            <i class="ti ti-user-check me-2 ti-sm"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <i class="ti ti-settings me-2 ti-sm"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="User/logout">
                                            <i class="ti ti-logout me-2 ti-sm"></i>
                                            <span class="align-middle">Log Out</span>
                                            
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>

                    <!-- Search Small Screens -->
                    <div class="navbar-search-wrapper search-input-wrapper d-none">
                        <input type="text"
                               class="form-control search-input container-xxl border-0"
                               placeholder="Search..."
                               aria-label="Search..." />
                        <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                    </div>
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            @RenderBody()
          
                            </div>
                            </div>
        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="~/sweetalert/sweetalert.min.js"></script>
    <script src="../../assets/vendor/js/menu.js"></script>
    <script src="~/froala/froala_editor.pkgd.min.js"></script>
   <script src="~/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
  <script src="~/assets/vendor/js/forms-selects.js"></script>
            <!-- endbuild -->
    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    @RenderSection("js", false)


</body>
</html>
