@model PFA_Gestion_Laureats.ViewModels.Users.ProfilViewModel
@section title {
    @Model.Nom @Model.Prenom
}
@section js{
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery-ui.min.js"></script>
   
}


<div class="container-xxl flex-grow-1 container-p-y">

    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                    <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto" >
                        <img src=".. /../assets/img/avatars/@Model.URL_Photo_Profil"
                             alt="user image" height="100" width="100"
                             class="d-block ms-0 ms-sm-4 rounded user-profile-img" />
                    </div>
                    <div class="flex-grow-1 mt-3 mt-sm-5">
                        <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                            <div class="user-profile-info">
                                <h4>@Model.Nom @Model.Prenom</h4>
                                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                                    <li class="list-inline-item">@Model.Titre_Profil</li>
                                    <li class="list-inline-item"></li>
                                </ul>
                            </div>
                            <div>
                                @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Role")) == "AgentDirection")
                                {
                                     <a asp-action="Update" asp-route-id="@Model.Login" class="btn btn-primary">
                                        <i class="ti ti-user-check me-1 ti-xs"></i>  Edit
                                    </a>
                                }
                               
                                <a href="javascript:void(0)" class="btn btn-primary">
                                    <i class="ti ti-messages me-1 ti-xs"></i> Message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Header -->
    <!-- User Profile Content -->
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5">
            <!-- About User -->
            <div class="card mb-4">
                <div class="card-body">
                    <small class="card-text text-uppercase">A PROPOS</small>
                    <ul class="list-unstyled mb-4 mt-3">
                        <li class="d-flex align-items-center mb-3">
                            <i class="ti ti-user"></i><span class="fw-bold mx-2">NOM COMPLET:</span>@Model.Nom @Model.Prenom<span></span>
                        </li>

                        <li class="d-flex align-items-center mb-3">
                            <i class="ti ti-crown"></i><span class="fw-bold mx-2">Titre:</span> <span>@Model.Titre_Profil</span>
                        </li>
                        @if (Model.specialite != null && Model.specialite != "")
                        {
                            <li class="d-flex align-items-center mb-3">
                            <i class="ti ti-map-pin"></i><span class="fw-bold mx-2">Address:</span> <span>@Model.Adresse</span>
                        </li>
                        }
                        
                        @if (Model.specialite != null)
                        {
                            <li class="d-flex align-items-center mb-3">
                                <i class="ti ti-file-description"></i><span class="fw-bold mx-2">Specialité:</span>
                                <span >@Model.specialite</span>
                            </li>
                        }
                        @if (Model.date_Inscription != null)
                        {
                            <li class="d-flex align-items-center mb-3">
                                <i class="ti ti-calendar"></i><span class="fw-bold mx-2">Date d'inscription:</span>
                                <span asp-format="{0:dd/MM/yyyy}">@String.Format("{0:d}",@Model.date_Inscription)</span>
                            </li>
                        }
                        @if (Model.Date_Fin_Etude != null)
                        {
                            <li class="d-flex align-items-center mb-3">
                                <i class="ti ti-calendar"></i><span class="fw-bold mx-2">Date de fin d'étude:</span>
                                <span asp-format="{0:dd/MM/yyyy}">@String.Format("{0:d}",@Model.Date_Fin_Etude)</span>
                            </li>
                        }
                    </ul>
                    @if (!string.IsNullOrEmpty(Model.Tel) || Model.Email != null){
                         <small class="card-text text-uppercase">Contacts</small>
                        <ul class="list-unstyled mb-4 mt-3">
                            @if (!string.IsNullOrEmpty(Model.Tel)){
                            <li class="d-flex align-items-center mb-3">
                                <i class="ti ti-phone-call"></i><span class="fw-bold mx-2">Contact:</span>
                                <span>@Model.Tel</span>
                            </li>
                            }
                            @if (Model.Email != null){
                            <li class="d-flex align-items-center mb-3">
                                <i class="ti ti-mail"></i><span class="fw-bold mx-2">Email:</span>
                                <span>@Model.Email</span>
                            </li>
                            }
                        
                        </ul>
                    }
                   

                </div>
            </div>
            <!--/ About User -->
             @if (Model.annonces != null)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text text-uppercase">Offres</p>
                        <ul class="list-unstyled mb-0">

                            @foreach (Annonce annonce in Model.annonces)
                            {
                                <li class="mb-3">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-start">
                                            <div class="avatar me-2">
                                                <img src="../../assets/img/logo/@annonce.entreprise.Logo"
                                                alt="Avatar"
                                                class="rounded-circle" />
                                            </div>
                                            <div class="me-2 ms-1">
                                                <a asp-controller="Annonce" asp-action="Details" asp-route-id="@annonce.Id">
                                                    <h6 class="mb-0">@annonce.Titre</h6>
                                                </a>

                                                <small class="text-muted">@annonce.Date_Creation.Date.ToString("MM/dd/yyyy")</small>
                                            </div>
                                        </div>
                                        @*<div class="ms-auto">
                                <a href="javascript:;"><span class="badge bg-label-danger">Developer</span></a>
                                </div>*@
                                    </div>
                                </li>
                            }

                       
                       
                    </ul>
                </div>
            </div>
            }
        </div>
        

        <div class="col-xl-8 col-lg-7 col-md-7">
           
           
           @* <div class="row">*@
                <!-- Stage -->
               
                    <div class="card card-action mb-4">
                        <div class="d-flex justify-content-between">
                            <div class="card-header ">
                                <h5 class="card-action-title mb-0">Stages</h5>

                            </div>

                            @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Login")) == Model.Login)
                            {

                        <a asp-controller="Stage" asp-action="Add" class="btn btn-outline-primary  waves-effect waves-light mb-2 mt-3  mx-2">

                                    <i class="ti ti-plus me-1"></i>




                                </a>


                            }
                        </div>
                       
                            <div class="card-body">
                                <div class="card-action-element">
                                    <div class="card-body pb-0">
                                        <ul class="timeline ms-1 mb-0">
                                        @if(Model.stages != null && Model.stages.Count>0){
                                        @foreach (Stage s in Model.stages.Take(2))
                                        {

                                            <li class="timeline-item timeline-item-transparent">
                                                <span class="timeline-point timeline-point-danger"></span>
                                                <div class="timeline-event">
                                                    <div class="timeline-header">
                                                        <a asp-controller="Stage" asp-action="Update" asp-route-id="@s.Id"><h6 class="mb-0">@s.Intitulé_poste</h6></a>
                                                        @*<strong>@s.entreprise.Nom</strong>*@
                                                        <small class="text-muted">
                                                            @{
                                                                int mois = (int)(new TimeSpan(s.Date_Fin.Ticks - s.Date_Debut.Ticks).TotalDays / 30); ;
                                                            }<span>@mois mois </span>
                                                        </small>
                                                    </div>
                                                    <div>
                                                        <p>@s.entreprise.Nom</p>
                                                        <p class="mb-2 text-muted">@s.Date_Debut.Date.ToString("MM/dd/yyyy") -- @s.Date_Fin.Date.ToString("MM/dd/yyyy")</p>
                                                    </div>

                                                    <div class="d-flex flex-wrap">

                                                        <div class="ms-1">
                                                            <p class="mx-3 my-2">@Html.Raw(s.Description)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            

                                        }
                                        }
                                        else
                                    {
                                        <h5>Aucun Stage!</h5>
                                    }
                                </ul>
                            @if(Model.stages.Count > 2)
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Stage" asp-action="Index" asp-route-idEtudiant="@Model.Login">Afficher tous</a>
                                </div>
                            }
                        </div>
                                </div>
                            </div>

                        

                    </div>
                
               
                <!--/ Stage -->
                <!-- Experience Pro -->

                <div class="card card-action mb-4">
                    <div class="d-flex justify-content-between">
                        <div class="card-header ">
                            <h5 class="card-action-title mb-0">Expériences professionnelles</h5>
                           
                        </div>

                        @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Login")) == Model.Login)
                        {

                        <a asp-controller="Experience_professionnelle" asp-action="Add" class="btn btn-outline-primary  waves-effect waves-light mb-2 mt-3  mx-2">

                                <i class="ti ti-plus me-1"></i>
                              
                            </a>
                            

                        }
                    </div>
                   
                     <div class="card-body">
                         <div class="card-action-element">
                            <div class="card-body pb-0">
                                <ul class="timeline ms-1 mb-0">
                                    @if(Model.experiences != null && Model.experiences.Count>0)
                                    {
                                    @foreach (ExperiencePro e in Model.experiences.Take(2))
                                        {

                                            <li class="timeline-item timeline-item-transparent">
                                                <span class="timeline-point timeline-point-warning"></span>
                                                <div class="timeline-event">
                                                    <div class="timeline-header">
                                                        <a asp-controller="Experience_professionnelle" asp-action="Update" asp-route-id="@e.Id"><h6 class="mb-0">@e.Post</h6></a>

                                                        @if (e.Etat == true)
                                                        {
                                                            <small class="text-muted">En cours</small>
                                                        }


                                                    </div>
                                                    <p class="mb-2">@e.entreprise.Nom ---@e.Type_Emploi</p>

                                                </div>
                                            </li>

                                        }
                                    }
                                    else
                                    {
                                        <h5>Aucune Experience Professionelle!</h5>
                                    }
                                </ul>
                                @if(Model.experiences.Count > 2)
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Experience_professionnelle" asp-action="Index" asp-route-idEtudiant="@Model.Login">Afficher tous</a>
                                </div>
                            }
                            </div>
                         </div>
                     </div>
                
                    

                </div>
                
                <!--/ Experience Pro -->
                <!-- Projet -->
              
                    <div class="card card-action mb-4">
                        <div class="d-flex justify-content-between">
                          <div class="card-header ">
                            <h5 class="card-action-title mb-0">Projets</h5>
                           @* <div class="card-action-element">
                            </div>*@
                          </div>
                            
                            @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Login")) == Model.Login)
                            {
                        <a asp-controller="Projet" asp-action="Add" class="btn btn-outline-primary  waves-effect waves-light mb-2 mt-3  mx-2">

                                    <i class="ti ti-plus me-1"></i>
                                  



                                </a>

                            }
                        </div>
                        
                   
                        <div class="card-body">
                               <div class="card-action-element">
                                    <div class="card-body pb-0">
                                        <ul class="timeline ms-1 mb-0">
                                           @if(Model.projets != null && Model.projets.Count>0)
                                           {
                                                @foreach (Projet p in Model.projets.Take(2))
                                                {

                                                    <li class="timeline-item timeline-item-transparent">
                                                        <span class="timeline-point timeline-point-primary"></span>
                                                        <div class="timeline-event">
                                                            <div class="timeline-header">
                                                                <a asp-controller="Projet" asp-action="Update" asp-route-id="@p.Id"><h6 class="mb-0">@p.Nom</h6></a>
                                                                <small class="text-muted">
                                                                    @{
                                                                        int mois = (int)(new TimeSpan(p.Date_Fin.Ticks - p.Date_Debut.Ticks).TotalDays / 30); ;
                                                                    }<span>@mois mois </span>
                                                                </small>
                                                            </div>
                                                            <p class="mb-2">@p.Date_Debut.Date.ToString("MM/dd/yyyy") -- @p.Date_Fin.Date.ToString("MM/dd/yyyy")</p>
                                                            <div class="d-flex flex-wrap">

                                                                <div class="ms-1">
                                                                    <p class="mx-3 my-2">@Html.Raw(p.Description)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                }
                                           }
                                            else
                                            {
                                                <h5>Aucun Projet!</h5>
                                            }
                                        </ul>
                                        @if(Model.projets.Count > 2)
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Projet" asp-action="Index" asp-route-idEtudiant="@Model.Login">Afficher tous</a>
                                </div>
                            }
                                     </div>
                              </div>
                        </div>
                    </div>
                
                <!--/ Projet -->
                <!-- Formation -->
                <div class="card card-action mb-4">
                    <div class="d-flex justify-content-between">
                        <div class="card-header ">
                            <h5 class="card-action-title mb-0">Formations</h5>
                            @* <div class="card-action-element">
                            </div>*@
                        </div>

                        @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Login")) == Model.Login)
                        {
                        <a asp-controller="Formation" asp-action="Add" class="btn btn-outline-primary  waves-effect waves-light mb-2 mt-3  mx-2">

                                <i class="ti ti-plus me-1"></i>
                               
                            </a>

                        }
                    </div>

                  <!--Formation -->
                    <div class="card-body">
                        <div class="card-action-element">
                            <div class="card-body pb-0">
                                <ul class="timeline ms-1 mb-0">
                                   @if(Model.formations != null && Model.formations.Count>0){
                                        @foreach (Formation f in Model.formations.Take(2) )
                                        {

                                            <li class="timeline-item timeline-item-transparent">
                                                <span class="timeline-point timeline-point-info"></span>
                                                <div class="timeline-event">
                                                    <div class="timeline-header">
                                                        <a asp-controller="Formation" asp-action="Update" asp-route-id="@f.Id"><h6 class="mb-0">@f.Diplome</h6></a>
                                                        <small class="text-muted">
                                                            @{
                                                                int mois = (int)(new TimeSpan(f.Date_Fin.Ticks - f.Date_Debut.Ticks).TotalDays / 30);
                                                            }<span>@mois mois </span>
                                                        </small>
                                                    </div>
                                                    <p class="mb-2">@f.Date_Debut.Date.ToString("MM/dd/yyyy") -- @f.Date_Fin.Date.ToString("MM/dd/yyyy")</p>
                                                    <div class="d-flex flex-wrap">
                                                        <p class="mb-2">@f.Ecole</p>
                                                        <div class="ms-1">
                                                            <p class="mx-3 my-2">@Html.Raw(f.Description)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        }
                                    }
                                    else
                                    {
                                        <h5>Aucune Formation!</h5>
                                    }
                                </ul>
                            @if (Model.formations.Count > 2)
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Formation" asp-action="Index" asp-route-idEtudiant="@Model.Login">Afficher tous</a>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
               </div>
                <!--/ Formation -->
                <!-- Certificat -->
              
                    <div class="card card-action mb-4">
                        <div class="d-flex justify-content-between">
                            <div class="card-header ">
                                <h5 class="card-action-title mb-0">Certificats</h5>
                                @* <div class="card-action-element">
                            </div>*@
                            </div>

                            @if (Convert.ToString(Context.Response.HttpContext.Session.GetString("Login")) == Model.Login)
                            {
                                <a asp-controller="Certificat" asp-action="Add" class="btn btn-outline-primary  waves-effect waves-light mb-2 mt-3 mx-2">

                                    <i class="ti ti-plus me-1"></i>
                                    
                                </a>

                            }
                        </div>


                        <div class="card-body">
                            <div class="card-action-element">
                                <div class="card-body pb-0">
                                    <ul class="timeline ms-1 mb-0">
                                @if (Model.certificats != null && Model.certificats.Count>0)
                                        {
                                        @foreach (Certificat c in Model.certificats.Take(2))
                                        {

                                            <li class="timeline-item timeline-item-transparent">
                                                <span class="timeline-point timeline-point-success"></span>
                                                <div class="timeline-event">
                                                    <div class="timeline-header">
                                                        <a asp-controller="Certificat" asp-action="Update" asp-route-id="@c.Id"><h6 class="mb-0">@c.Nom</h6></a>
                                                        <small class="text-muted">
                                                            @c.Organisation
                                                        </small>
                                                    </div>
                                                    @if (c.Date_Expiration != null)
                                                    {
                                                        <p class="mb-2" asp-format="{0:dd/MM/yyyy}">@c.Date_Emission.Date.ToString("MM/dd/yyyy") --  @String.Format("{0:d}",c.Date_Expiration)</p>

                                                    }
                                                    else
                                                    {
                                                        <p class="mb-2">@c.Date_Emission.Date.ToString("MM/dd/yyyy") --</p>

                                                    }

                                                    <div class="d-flex flex-wrap">
                                                        @if (c.Url != null)
                                                        {
                                                            <div class="ms-1">
                                                                <p class="mx-3 my-2">@c.Url</p>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </li>

                                        }
                                        }
                                        else
                                    {
                                        <h5>Aucune Certificat!</h5>
                                    }
                                </ul>
                                @if(Model.certificats.Count > 2)
                            {
                                <div class="d-flex justify-content-center">
                                    <a asp-controller="Certificat" asp-action="Index" asp-route-idEtudiant="@Model.Login">Afficher tous</a>
                                </div>
                            }
                                </div>
                            </div>
                        </div>
                    </div>
                
               
                <!--/ Certificat -->
            @*</div>*@

        </div>
    </div>
    <!--/ User Profile Content -->
</div>

