@section title {
   Liste des Validations
}
@section js{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script>

        var validateBTN = document.querySelectorAll(".ValidateButton");
        validateBTN.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir valider ce compte  ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, Valider !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Valider", "User")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
        var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir Rejeter ce compte  ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, Rejeter !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete_User", "User")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>
}
@model List<Utilisateur>


<table class="table-primary  w-100 my-5 ">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Telephone 
            </th>
            <th>
                Email    
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Nom
            </td>
            <td>
                @item.Prenom
            </td>
            <td>
                @item.Tel
            </td>
            <td >
                @item.Email
            </td>
            
            <td>
                 <button  data-id="@item.Login" class="btn btn-primary ValidateButton"> Valider</button>
                <a asp-action="Update_User" asp-route-id="@item.Login" class="btn btn-warning">Modifier</a>
                <button data-id="@item.Login" class="btn btn-danger deleteButton">Rejeter</button>
            </td>
        </tr>
}
    </tbody>
</table>

