@section title {
   Liste des Validations
}
@section js{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
   
    <script>

        var validateBTN = document.querySelectorAll(".ValidateButton");
        validateBTN.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir valider ce compte  ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#3A9D23",
                    confirmButtonText: "Oui, Valider !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Valider", "User")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
        var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir Rejeter ce compte  ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, Rejeter !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete_User", "User")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>
}
@model List<Utilisateur>



 <div class="col-12">
    <h4 class="fw-bold py-3 mb-4 card-header"><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a>  Validation des Comptes</h4>
       
        <div class="row g-4">
            @foreach(Utilisateur utilisateur in Model)
            {
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body ">
                            <div class="dropdown btn-pinned">
                                <button type="button"
                                        class="btn dropdown-toggle hide-arrow p-0"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="ti ti-dots-vertical text-muted"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" asp-action="Update" asp-route-id="@utilisateur.Login">Détails</a></li>
                                    <li>
                                    <button data-id="@utilisateur.Login" class="dropdown-item  ValidateButton "> Valider</button>
                                       @* <a class="dropdown-item" href="javascript:void(0);">Valider</a></li>*@
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                    <button data-id="@utilisateur.Login" class="dropdown-item text-danger  deleteButton">Rejeter</button>
                                       
                                </ul>
                            </div>
                        <div class="mx-auto my-3 text-center">
                                <img src="../../assets/img/avatars/@utilisateur.Photo_Profil" alt="Avatar Image" class="rounded-circle w-px-100" />
                            </div>
                        <h4 class="mb-1 card-title text-center">@utilisateur.Nom @utilisateur.Prenom </h4>
                        <p class="pb-1 text-center">@utilisateur.Titre_Profil</p>
                       
                           

                            <div class=" my-3 py-1">
                                    <p> <strong>Téléphone : </strong>@utilisateur.Tel</p>
                                    <p><strong>Email : </strong>@utilisateur.Email</p>
                                    <p><strong>Adresse : </strong>@utilisateur.Adresse</p>
                                @*<div>
                                    <h6 class="mb-0">Téléphone</h6>
                                    <span>@utilisateur.Tel</span>
                                </div>
                                <div>
                                    <h6 class="mb-0">Email</h6>
                                <span>@utilisateur.Email</span>
                                </div>
                                <div>
                                    <h6 class="mb-0">Adresse</h6>
                                     <span>@utilisateur.Adresse</span>
                                </div>*@
                            </div>
                           
                        </div>
                    </div>
                </div>
            }
           
        </div>

 </div>
  
