@model Annonce
@section title {
    Annonce
}
<h4 class="fw-bold py-3 mb-4"><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a> @Model.Titre</h4>

<div class="col-md-12 col-lg-12 mb-3 ">

    <div class="card h-100 ">
        <div class="card-body">

            <div class="d-flex mb-3">
                <div class="flex-shrink-0">
                    <img src=".. /../assets/img/avatars/@Model.utilisateur.Photo_Profil" class="me-3" height="38">
                </div>
                <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h5 class="mb-0 text-dark"><strong>@Model.utilisateur.Nom @Model.utilisateur.Prenom</strong></h5>
                        <small class="text-muted">@Model.utilisateur.Titre_Profil</small>
                    </div>

                </div>
            </div>
            <div>
            </div>
            <h5 class="card-title mt-5">@Model.Titre</h5>
            <h6 class="card-subtitle text-muted">@Model.Date_Creation.Date.ToString("MM/dd/yyyy")</h6>
            @if (Model.Photo !=null)
            {
                <img class="img-fluid d-flex mx-auto my-4 rounded"
                     src="~/assets/img/Annones/@Model.Photo"
                     alt="Card image cap" max-width="100%" />
            }
           
            <div class="container mt-5">@Html.Raw(Model.Description)</div>

            <p class="card-text"><span class="text-muted fw-light" >le Dernier Délai:  </span>@Model.Date_limite_Deposer.Date.ToString("MM/dd/yyyy")</p>

            <a asp-controller="Annonce" asp-action="Postuler" class="btn btn-primary waves-effect"> Postuler</a>
           

            

          
        </div>
    </div>
</div>
