@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;
@model IPagedList<Annonce>
@section title {
   Mes Annonces
}
@section js {
        <script src="~/js/jquery-3.6.0.min.js"></script>
        <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <script src="~/js/jquery-ui.min.js"></script>
       
            <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

               
              <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" ></script>

         <!-- JavaScript -->
    <script>
               
         var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {
              
                event.preventDefault();

                
                swal({
                    title: "Êtes-vous sûr de vouloir supprimer cette Annonce ? ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, supprimer !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {
                           
                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete", "Annonce")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>
   
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Annonce/GetSearchResults/",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
}


<div class="content-wrapper">
   
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4 card-header "><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a>Mes Annonces</h4>
        <div class="container mt-5 d-flex flex-row-reverse mb-3 mx-3">
            <a class="btn btn-primary" asp-controller="Annonce" asp-action="Add">
                <i class="ti ti-plus me-1"></i>
                <span class="align-middle">Nouvelle Annonce</span>
            </a>
        </div>
        @if(Model != null)
        {
            <div class="row g-4">
            @foreach (Annonce annonce in Model)
            {

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="max-height:100% !important">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <a asp-controller="Entreprise" asp-action="Details" asp-route-id="@annonce.EntrepriseId" class="d-flex align-items-center">
                                    <div class="avatar me-2">
                                        <img src="../../assets/img/logo/@annonce.entreprise.Logo"
                                             alt="Logo"
                                             class="rounded-circle" />
                                    </div>
                                    <div class="me-2 text-body h5 mb-0">@annonce.entreprise.Nom</div>
                                </a>

                            </div>
                            <div class="mb-1">
                                @if (@annonce.Titre.Length > 30)
                                {
                                        <a asp-controller="Annonce" asp-action="Details" asp-route-id="@annonce.Id">
                                            <h5 class="card-title mx-3 my-4 ">@annonce.Titre.Substring(0,26)...</h5>
                                        </a>
                                   
                                }
                                else
                                {
                                        <a asp-controller="Annonce" asp-action="Details" asp-route-id="@annonce.Id">
                                            <h5 class="card-title mx-3 my-4 ">@annonce.Titre</h5>
                                        </a>

                                   

                                }

                                    <hr class="my-1" /> <br />

                                    <div class="mb-1">
                                        <ul class="list-unstyled mb-4 mt-3">

                                            <li class="d-flex align-items-center justify-content-around mb-3">
                                                <div><i class="ti ti-map-pin r-3"></i><span class="fw-bold mx-2">@annonce.entreprise.Ville</span></div>
                                                <div><i class="ti ti-file-description r-3"></i><span class="fw-bold mx-2">@annonce.Nature</span></div>
                                            </li>

                                            <li class="d-flex align-items-center mb-3">
                                                <span>Consultation</span>
                                                <div class="ms-auto">
                                                    @if (annonce.postulations == null || annonce.postulations.Count == 0)
                                                    {
                                                        <a href="javascript:;" class="me-2"><span class="badge bg-label-secondary">0</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:;" class="me-2"><span class="badge bg-label-success">@annonce.postulations.Count</span></a>
                                                    }

                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center mb-3">
                                                <span>Postulation</span>
                                                <div class="ms-auto">
                                                    @if (annonce.postulations == null || annonce.postulations.Count(p => p.Date_Postulation != null) == 0)
                                                    {
                                                        <a href="javascript:;" class="me-2"><span class="badge bg-label-secondary">0</span></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:;" class="me-2"><span class="badge bg-label-success">@annonce.postulations.Count(p => p.Date_Postulation != null) </span></a>
                                                    }
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                <hr class="my-0" /> <br />
                               @* <a asp-controller="Annonce" asp-action="Details" asp-route-id="@annonce.Id">
                                    <p class="mx-3 my-2 text-primary">Plus Details ...</p>
                                </a>*@
                            </div>

                            <div class="d-flex align-items-center pt-1">
                                @*<div class="d-flex align-items-center">
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@annonce.utilisateur.Login">
                                        <span class="text-muted fw-light">@annonce.utilisateur.Nom @annonce.utilisateur.Prenom</span>
                                    </a>
                                </div>*@
                                <div class="ms-auto ">
                                    <button class="btn btn-danger btn-icon waves-effect deleteButton mx-2" data-id="@annonce.Id"><i class="ti ti-trash ti-sm"></i></button>

                                    <a asp-controller="Annonce" asp-action="Update" asp-route-id="@annonce.Id" class="btn btn-label-success btn-icon waves-effect ">
                                        <i class="ti ti-edit ti-sm"></i>
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            }
                <div class="pagination justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("MesAnnonces", new { page }), new PagedListRenderOptions {
                    Display = PagedListDisplayMode.IfNeeded,
                    ActiveLiElementClass = "active",
                    PageClasses = new[]{ "page-link"},
                    LiElementClasses=new[] { "page-item" },
                    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                    LinkToNextPageFormat = "Next",
                    LinkToPreviousPageFormat = "Previous",
                    MaximumPageNumbersToDisplay = 5,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                    })
                </div>
            </div>
        }
        else
        {
            <h3>Aucune annonce pour le moment!!</h3>
        }

    </div>
</div>
